*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    width: 100vw;
    background-color: rgba(248, 255, 106, 0.824);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 300px;
    height: 400px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    background-color: #22252d;
    overflow: hidden;
}